<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .nav-link{
            color: white;
        }
        .nav-link:hover{
            color: #000;
        }
        .form-group{
            margin-top:1em;
        }
        button{
            margin-top: 1em;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-primary justify-content-start">
        <a class="nav-link" href="/">ProdBox</a>
        <a class="nav-link" href="/employees_page">Employees Page</a>
        <a class="nav-link" href="/products_page">Products Page</a>
        <a class="nav-link" href="/sections_page">Sections Page</a>
    </nav>
    <div class="d-flex flex-column align-items-center">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" value="<%= employee[0].name %>" id="employee_name">
        </div>
        <div class="form-group">
            <label for="section">Section</label>
            <input type="text" name="section" class="form-control" value="<%= employee[0].section %>" id="employee_section">
        </div>
        <button id="<%= employee[0].id %>" class="btn btn-primary" onclick="updateEmployee(this.id)">Update!</button>
    </div>
    <script src="/employee_update_script.js"></script>
</body>
</html>